body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
    padding: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}
.logout-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
}


/*Owner*/

    .container {
        text-align: center;
    }

    button {
        padding: 10px 20px;
        margin: 10px;
        font-size: 16px;
        cursor: pointer;
    }

    .result {
        margin-top: 20px;
        font-size: 18px;
        color: #333;
    }

/*tenants-information*/

.avatar-section img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 2px solid #ddd;
}

.info-section h2 {
    margin-bottom: 10px;
}

.info-section p {
    margin: 5px 0;
    font-size: 16px;
}

.back-section {
    margin-bottom: 20px; /* Adjusts the space at the bottom for the button */
}

/*house and room information*/

.carousel-inner img {
    height: 400px; /* Adjust the height as needed */
    object-fit: cover;
}

.comments-section {
    margin-top: 20px;
}

.comments-section h5 {
    margin-bottom: 10px;
}

.list-group-item {
    font-size: 16px;
}